body {
  font-family: Arial, sans-serif;
  background-color: #0E70E3; /* Color aqua */
  text-align: center;
  width: 100%;
  height: 100vh;
  margin: 0; /* Asegura que no haya margen exterior en el cuerpo */
  box-sizing: border-box; /* Incluye el relleno y el borde en el ancho y alto total */
}
h1 {
  color: black;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 5),
                0px 0px 20px rgba(255, 255, 255, 5),
                0px 0px 30px rgba(255, 255, 255, 5),
                0px 0px 50px #fff,
                0px 0px 100px #fff
}
#calendar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Usa el ancho mínimo de 200px y ajusta automáticamente el número de columnas según el espacio disponible */
  gap: 10px;
  width: 90%; /* Usa un ancho del 90% del contenedor principal */
  max-width: 1200px; /* Establece un ancho máximo para evitar que el calendario se expanda indefinidamente en pantallas grandes */
  margin: 0 auto;
  justify-content: center;
}

.day {
  max-width: 100%;
  padding: 20px;
  background-color: #0EB3E3; /* Color sky blue */
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.day.locked {
  background-color: #b0c4de; /* Color lightsteelblue */
  cursor: not-allowed;
}


.juegos {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.juegoImg {
  width: 100%; /* Haz que la imagen ocupe el 100% del contenedor padre */
  height: auto; /* Mantiene la relación de aspecto de la imagen */
  max-width: 300px; /* Establece un ancho máximo para evitar que las imágenes se vuelvan demasiado grandes en pantallas grandes */
  object-fit: cover;
}
.regalo1{
  color: black;
  text-decoration: none;
}
.regalo1:hover{
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: .1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
